@model IEnumerable<WebApplication4.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryExpenseLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expense.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryExpenseLimit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expense.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExpenseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExpenseID })
        </td>
    </tr>
}

</table>
